@{
    Layout = null;
}
@using System.Web.Optimization
@using System.Reflection

@{
    WebPageHttpHandler.DisableWebPagesResponseHeader = true;
    System.Web.Mvc.MvcHandler.DisableMvcResponseHeader = true;
    Response.OutputCache(0);
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>PayBuddy</title>
</head>
<body ng-controller="appCtrl" style="background-image: url(Content/Images/ecommerce-1-1.png);">

    <div ng-view></div>

    @Scripts.Render("~/bundles/jQuery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/rx")
    @Scripts.Render("~/bundles/appstart")
    @Scripts.Render("~/bundles/dataServices")
    @Scripts.Render("~/bundles/controllers")

</body>
</html>
